<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= id %>
    </title>
</head>

<body>
    <h1>
        商品名: <%= name %>
    </h1>
    <p>
        商品説明: <%= description %>
    </p>
    <p>
        商品価格: <%= price %>
    </p>

</body>

</html>